body{
    box-sizing: border-box;
    background-color: rgb(165, 211, 212);
}
h2{
    text-align: center;
    font-size: 30px;
    color: #fff;
}
main{
    height: 70vh;
}

.container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo-texto{
    width: 50%;
    height: 44px;
    font-size: 36px;
    border: 1px solid #eeeeee;
    margin-right: 20px;
}

button{
    width: 100px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    border: 0px;
}

.bg-verde{
    background-color: #55ff55;
}

.bg-vermelho{
    background-color: #f00;
}

.bg-branco{
    background: #fff;
}

.checkbox{
    width: 30px;    
    height: 30px;
    margin: 0 20px;
}
.tarefa{
    width: calc(50% + 106px);
    margin: 10px auto;
    justify-content: space-between;
}

.texto-tarefa{
    font-size: 24px;
    width: 50%;
    color: #000;
    margin: 0px;
    flex-grow: 2;
}

.concluido{
    background-color: #90ff90;
}